
.DS_Store
.idea/Exercícios Python.iml
*.iml
*.iml
Sala de testes/lista.py
*.xml
*.iml
*.xml
*.iml
Sala de testes/dicionarios.py
.idea/modules.xml
.idea/Exercícios Python.iml
curso-em-video-python/teste.py
.idea
